# dependencies
node_modules/
.pnpm-store/

# env
.env
.env.*
!.env.example
!.env.production.example

# builds
dist/
build/
.next/
.expo/
web-build/
*.tsbuildinfo

# logs
*.log
logs-*.txt
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# uploads
uploads/
